.carousel-img {
    height: 300px;
    width: 220px;
}

.carousel-card {
    width: 220px;
}

.card-text {
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    font-weight: bold;
    font-size: 22px;
}

.product {
    font-family: 'Roboto', sans-serif;
}

.product-image {
    height: 100px;
    width: 100px;
}

.card {
    border: none;
}

.card-title {
    font-size: 16px;
}

.carousel-control {
    padding-top:200px;
}

button:focus {outline:0;}

.dropdown:hover>.dropdown-menu {
    display: block;
}

.content-left {
    border-right: 1px solid rgba(0,0,0,.125);
  }

html, body {
    margin: 0;
    padding: 0;
}
