.carousel-img {
    height: 300px;
    width: 220px;
}

.carousel-card {
    width: 220px;
}

.card-text {
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    font-weight: bold;
    font-size: 22px;
}

.product {
    font-family: 'Roboto', sans-serif;
}

.product-image {
    height: 100px;
    width: 100px;
}

.card {
    border: none;
}

.card-title {
    font-size: 16px;
}

.carousel-control {
    padding-top:200px;
}

button:focus {outline:0 !important;}

.dropdown:hover>.dropdown-menu {
    display: block;
}

.content-left {
    border-right: 1px solid rgba(0,0,0,.125);
}

.arrow-up {
    width: 0; 
    height: 0; 
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
}
   
.header-dropdown .dropdown-menu {
    left: 0;
    transform: translateX(-50%) !important;
    top: 100% !important;
}
  
.arrow-up {
    width: 0px;
    height: 0px;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 10px solid #FFFFFF;
    margin: 0 0 15px 0;
    position: absolute;
    top: -9px;
    right: 78px;
}

